{{ 'index-Rlfy0Nd_.css' | asset_url | stylesheet_tag }}

<div id="diamond-root">
  <div style="padding: 100px; text-align: center;">
    <p>Hämtar diamanter...</p>
  </div>
</div>

<script src="{{ 'index-0tf0Syv6.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Diamond App Container",
  "settings": [],
  "presets": [
    {
      "name": "Diamond App Container"
    }
  ]
}
{% endschema %}